
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                Registration form
                <app-signup></app-signup>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
